<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>등록</h2>

    <form th:action="@{/board_param_test/register}" method="post">
        userId: <input type="text" name="userId" value="아이디 입력"><br>
        passwd: <input type="password" name="passwd" value="비번입력"><br>
        <!-- 인자를 전달할 것이라면 반드시 컨트롤러의 인자 이름과 input 태그 내부의 name 값이 일치해야 한다. -->
        <!-- userId: <input type="text" name="id" value="아이디 입력"><br>
        passwd: <input type="password" name="pw" value="비번입력"><br> -->
        <input type="submit" value="등록">
    </form>

</body>
</html>